.home{
	width: 100%;
	height: 100vh;
}
.home > img{
	position: absolute;
	top: 50px;
	left: 25vw;
	width: 50vw;
	animation: fly 1s infinite alternate;
}

@keyframes fly{
	from{
		transform: translateY(0px)
	}
	to{
		transform: translateY(50px)
	}
}