.type.normal{
	background-image: url("../images/180px-Pokémon_Normal_Type_Icon.svg.png");
}
.type.fire{
	background-image: url("../images/180px-Pokémon_Fire_Type_Icon.svg.png");
}
.type.water{
	background-image: url("../images/180px-Pokémon_Water_Type_Icon.svg.png");
}
.type.grass{
	background-image: url("../images/180px-Pokémon_Grass_Type_Icon.svg.png");
}
.type.electric{
	background-image: url("../images/180px-Pokémon_Electric_Type_Icon.svg.png");
}
.type.ice{
	background-image: url("../images/180px-Pokémon_Ice_Type_Icon.svg.png"); 
}
.type.fighting{
	background-image: url("../images/180px-Pokémon_Fighting_Type_Icon.svg.png");
}
.type.poison{
	background-image: url("../images/180px-Pokémon_Poison_Type_Icon.svg.png");
}
.type.ground{
	background-image: url("../images/180px-Pokémon_Ground_Type_Icon.svg.png");
}
.type.flying{
	background-image: url("../images/180px-Pokémon_Flying_Type_Icon.svg.png");
}
.type.psychic{
	background-image: url("../images/180px-Pokémon_Psychic_Type_Icon.svg.png");
}
.type.bug{ 
	background-image: url("../images/180px-Pokémon_Bug_Type_Icon.svg.png");
}
.type.rock{
	background-image: url("../images/180px-Pokémon_Rock_Type_Icon.svg.png");
}
.type.ghost{
	background-image: url("../images/180px-Pokémon_Ghost_Type_Icon.svg.png");
}
.type.dark{
	background-image: url("../images/180px-Pokémon_Dark_Type_Icon.svg.png");
}
.type.dragon{
	background-image: url("../images/180px-Pokémon_Dragon_Type_Icon.svg.png");
}
.type.steel{
	background-image: url("../images/180px-Pokémon_Steel_Type_Icon.svg.png");
}
.type.fairy{
	background-image: url("../images/180px-Pokémon_Fairy_Type_Icon.svg.png");
}